!!!5
%html
  %head
    %meta{ :charset=>'utf-8' }
    %title= (page.title ? [page.title, site.title] : [site.title]) * ' | '
    %meta{ :name=>'viewport', :content=>'width=device-width, initial-scale=1.0' }
    :css
      body {
        padding-top: 60px;
      }
    %link{ :rel=>'stylesheet', :type=>'text/css', :href=>'/stylesheets/styles.css' }
    /[if lt IE 9]
      %script{ :type=>'text/javascript', :src=>'//html5shim.googlecode.com/svn/trunk/html5.js' }
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.brand{ :href=>'/' }= site.title
          -#%ul.nav
          -#  %li
          -#    %a{ :href=>'/' } Home
          %ul.nav.pull-right
            %li.g-plusone-slot
              .g-plusone{:data=>{:annotation=>'none'}}
            %li
              %a.subscribe{ :href=>"/feed.atom", :title => "Subscribe" }
                %img{ :src => "/images/rss_32.png" }
    .container
      .row
        %div{:class => (page.url == '/' ? 'span8' : 'span12')}
          ~ content
        - if page.url == '/'
          .span4
            .about
              %img{:src => "/images/avatar.png"}
              .name Sarah White
              .details Loves happy endings, alien invasions, scientific discoveries and technological awesomeness. Content planner, writer, and editor.
              .profiles
                %a.twitter{ :href=>"http://twitter.com/#!/carbonfray" } @carbonfray
            -#.title twitter updates
            -#.tweet
              -#:javascript
                -#$(function() {
                  -#$(".tweet").tweet({
                    -#username: "carbonfray",
                    -#avatar_size: 24,
                    -#count: 4,
                    -#template: "{text} {time}",
                    -#loading_text: "Loading tweets...",
                    -#outro_text: '<a class="btn"  href="https://twitter.com/#!/carbonfray">Follow me on twitter</a>'
                  -#});
                -#});
            -#%hr   
    %hr
      %hr
      %footer
        %p &copy; #{site.author} #{Date.today.year}
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js' }
    %script{ :type=>'text/javascript', :src=>'//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.0.2/bootstrap.min.js' }
    :plain
      <script>
        (function() {
          var p1 = document.createElement('script'); p1.async = true; p1.src = 'https://apis.google.com/js/plusone.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(p1, s);
        })();
      </script>
    - if site.google_analytics
      = google_analytics_async
